<div class="add-to-cart">
  <%= form_tag(shopper.order_add_product_path(product.product_type, product.id), class: 'form-inline clearfix') do %>
    <%= number_field_tag(:quantity, 1, min: 1, class: 'form-control') %>
    <%= button_tag(t('cart.add'), class: 'btn btn-primary') %>
  <% end %>
</div>